.app-widget {
  /* Widget variables */
  --horizontal-gap: 5px;

  /* Widget general settings */
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--color-six);
  width: 250px;
  line-height: 1.2;
  overflow: hidden;

  h1, h2 {
    font-size: 15px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
  }

  &.closed {
    display: none;
  }

  /* Header */
  .widget-header {
    position: fixed;
    top: 52px;
    right: 8px;
    background-color: var(--color-one);
    border-radius: 50%;
    border: 1.5px solid var(--color-six);
    z-index: 100;
    
    h1 {
      display: none;
    }

    calcite-icon {
      cursor: pointer;
      position: relative;
      top: 2px;
      color: var(--color-three);
      width: 20px;
      height: 15px;
    }
  }

  /* Content */
  .widget-content {
    margin: 5px 0px;
    padding: 0px 5px;
    max-height: calc(100vh - 190px);
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
  }

  /* Widget sections */
  .section {
    padding: 10px;
    margin-bottom: 5px;
    background-color: var(--color-three);
    border-bottom: 1px solid var(--color-five);

    &:last-child {
      border-bottom: none;
      margin-bottom: 0px;
    }
      
    calcite-filter {
      margin: -7px 0px -2px -12px;
      width: calc(100% + 24px);
    }
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--horizontal-gap);
    cursor: pointer;
  }

  .section-content {
    margin: 10px 0px 5px 0px;
  }

  .section.closed {
    .section-title h2 {
      font-weight: 400;
    }

    .section-content {
      display: none;
    }
  }

  .flex-item {
    border: 1px solid var(--color-five);
    cursor: pointer;
  }

  /* Layers section, Legend section */
  .layers, .legend {
    .section-content {
      border: 1px solid var(--color-five);
    }
  }
  .legend {
    .esri-widget__heading {
      font-weight: normal !important;
    }
  }

  /* About section */
  .about {
    .section-content {
      line-height: 18px;
      a {
        color: var(--color-one);
      }
      h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 15px;
      }
      h4 {
        margin-top: 3px;
        margin-bottom: 3px;
        color: var(--color-four);
        font-weight: normal;
        font-size: 15px;
      }
      p {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 14px;
      }
      p:last-child {
        margin-bottom: 0px;
      }
    }
  }

  /* Widget grid elements */
  .flex-list-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 3px;

    .flex-item {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .flex-list-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .flex-item {
      padding: 5px 5px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 6px;
      white-space: nowrap;
      white-space: wrap;
      overflow: hidden;

      img {
        width: 13px;
        height: auto;
      }
    }
  }

  /* Widgets active elements */
  .active-theme {
    color: var(--color-eight) !important;
    border: 1px solid var(--color-eight) !important;
    background-color: var(--color-ten);
  }

  /* Zones - customization */
  .zones-draft {
    border: 1px dashed var(--color-five);
    color: var(--color-five);
  }
}

/* Mobile adjustments */
@media only screen and (max-width: 544px) {
  .app-widget { 
    top: auto;
    bottom: 0px;
    right: 0px;
    min-width: 100vw;
    max-width: 100vw;
    height: 250px;

    .widget-header {
      display: flex;
      gap: var(--horizontal-gap);
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid var(--color-five);
      background-color: var(--color-three);
      padding: 12px 10px 10px 10px;
      position: static;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      -o-border-radius: 0px;
      
      h1 {
        display: block;
      }
  
      calcite-icon {
        cursor: pointer;
        position: relative;
        top: -1px;
        color: var(--calcite-color-text-2);
      }
    }

    .widget-content {
      max-height: 196px;
    }

    .flex-list-column {
      .flex-item {
        padding: 10px 5px !important;
      }
    }
  }

}
