.app-widget {
  /* Widget variables */
  --horizontal-gap: 5px;

  /* Widget general settings */
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: var(--color-three);
  width: 250px;
  max-height: calc(100vh - 180px);
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.2;
  scrollbar-width: thin;

  h1, h2 {
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }

  h1 {
    font-weight: 500;
  }

  /* Header */
  .header {
    display: flex;
    gap: var(--horizontal-gap);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-five);
    padding: 10px;

    calcite-icon {
      cursor: pointer;
      position: relative;
      top: -1px;
    }
  }

  /* Widget sections */
  .section {
    padding: 10px;
    border-bottom: 1px solid var(--color-five);

    &:last-child {
      border-bottom: none;
    }
      
    calcite-filter {
      margin: -7px 0px -2px -12px;
      width: calc(100% + 24px);
    }
  }

  .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--horizontal-gap);
    cursor: pointer;
  }

  .section-content {
    margin: 5px 0px;
  }

  .section-content.closed {
    display: none;
  }

  .flex-item {
    border: 1px solid var(--color-five);
    cursor: pointer;
  }

  /* Layers section */
  .layers {
    .section-content {
      border: 1px solid var(--color-five);
    }
  }

  /* Widget grid elements */
  .flex-list-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 3px;

    .flex-item {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .flex-list-column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    .flex-item {
      padding: 5px 5px;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 6px;
      white-space: nowrap;
      white-space: wrap;
      overflow: hidden;

      img {
        width: 13px;
        height: auto;
      }
    }
  }

  /* Widgets active elements */
  .active-theme {
    color: var(--color-eight) !important;
    border: 1px solid var(--color-eight) !important;
    background-color: var(--color-ten);
  }
}

/* Mobile adjustments */
@media only screen and (max-width: 544px) {
  .app-widget { 
    top: auto;
    bottom: 0px;
    right: 0px;
    min-width: 100vw;
    max-width: 100vw;
    height: 55vh;
  }

  .flex-list-column {
    .flex-item {
      padding: 10px 5px !important;
    }
  }

}
