.feedback {
  /* Widget variables */
  --horizontal-gap: 5px;
  --panel-width: 650px;
  position: relative;

  /* Widget general settings */
  .feedback-step {
    margin: 10px 0px 10px 0px;
  }

  .feedback-part {
    margin: 30px 0px;
  }

  .feedback-part:last-child {
    border-top: 1px solid var(--color-five);
    margin: 30px 0px;
  }

  .feedback-part-body {
    margin-top: 5px;
  }

  /* Input messages */
  .feedback-part-footer calcite-input-message {
    font-weight: 400;
    color: var(--color-one);

    img {
      margin-top: -1px;
      width: 12px;
      height: auto;
      padding-right: 3px;
    }
  }

  calcite-input-message.state-OK {
    color: var(--color-eight);
  }

  /* Buttons */
  .feedback-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;

    img {
        width: 13px;
        height: auto;
      }
  }

  .feedback-btn {
    padding: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    white-space: wrap;
    overflow: hidden;
    border: 1px solid transparent;
  }
  
  .feedback-btn.disabled {
    color: var(--calcite-color-text-2);
    background-color: var(--color-nine);
    border: 1px solid transparent;
    cursor: no-drop !important;
  }

  .feedback-btn.ready {
    color: var(--color-eight);
    border: 1px solid var(--color-eight);
    background-color: transparent;
    cursor: pointer !important;
  }

  .feedback-btn.ready.remove {
    color: var(--color-one);
    border: 1px solid var(--color-one);
    background-color: transparent;
    cursor: pointer !important;
  }

  .feedback-btn.active {
    color: var(--color-eight);
    border: 1px solid var(--color-eight);
    background-color: var(--color-ten);
    cursor: pointer !important;
  }

  .feedback-btn.send-btn {
    display: flex;
    background-color: var(--color-nine);
    cursor: no-drop !important;
  }

  .feedback-btn.send-btn.active {
    cursor: pointer !important;
    color: var(--color-three);
    background-color: var(--color-one);
    border: 1px solid var(--color-one);
  }

  .feedback-form .feedback-btn.send-btn {
    margin-top: 30px;
   /*  height: 30px; */
  }

    /* Feedback form panel */
  .feedback-form-overlay {
    position: fixed;
    top: 45px;
    width: 100%;
    height: calc(100dvh - 45px);
    right: 0px;
    background: rgba(0,0,0,.5);
    z-index: 1000;
    display: flex;
    justify-content: end;
  }

  .feedback-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: right;
    display: flex;
    right: 0px;
    top: 0px;
  }
     
  .feedback-form {
    width: var(--panel-width);
    height: 100%;
    background-color: var(--color-three);
    padding: 20px 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
  }

  .feedback-form-header {
    text-align: right;
    height: 35px;
    padding-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-four);
    border-bottom: 1px solid var(--color-five);
    margin-bottom: 30px;
    
    .feedback-form-close {
      cursor: pointer;
    }
  }

  /* Feedback messages */
  .feedback-btn.send-btn.feedback-message {
    position: absolute;
    bottom: -15px;
    right: -10px;
    left: -10px;
    z-index: 100;
  }

  .feedback-btn.send-btn.feedback-message.success {
    background-color: var(--color-ten);
    color: var(--color-eight);
    border: 1px solid var(--color-eight);
  }
  .feedback-btn.send-btn.feedback-message.error {
    background-color: var(--color-eleven);
    color: var(--color-one);
    border: 1px solid var(--color-one);
  }
}

/* Mobile adjustments */
@media only screen and (max-width: 544px) {
  .feedback { 
    .feedback-btn {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .feedback-btn.send-btn.feedback-message {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .feedback-form-overlay {
      .feedback-form {
        width: 100%;
      }
    }
  }
}

/* Loading spinner */
@keyframes spinner {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

