.legend-div {
    .esri-legend__service {
        padding: 0px;
    }
    
    h3.esri-widget__heading, 
    h4.esri-widget__heading, 
    h5.esri-widget__heading, 
    h6.esri-widget__heading {
        font-weight: 500;
        font-size: 14px;
        font-family: Roboto;
    }
}

