.app-header {
  color: var(--color-four);
  height: var(--app-header-height);
  margin-right: 14px;
  display: grid;
  grid-template-columns: 103.5px 1fr;
  column-gap: 10px;

  .logo {
    height: var(--app-header-height);
  }

  img {
    height: var(--app-header-height);
    width: auto;
  }

  .title {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    margin-top: 2px;
    gap: 0px 10px;
  }

  .title-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .sub-title {
    color: var(--color-eight);
    border: 1px solid var(--color-eight);
    font-size: 12px;
    padding: 1.5px 5px 1px 5px;
    background-color: var(--color-ten);

    img {
      position: relative;
      top: 2px;
      left: 0px;
      margin-right: 4px;
      width: 12px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 544px) {
  .app-header {
    .main-title {
      flex-basis: 100%;
    }

    .title {
      font-size: 15px;
      flex-wrap: wrap;
      margin-top: 6px;
      margin-bottom: 6px;
    }

    .sub-title {
      font-size: 10px;

      img {
        width: 10px;
        top: 1.5px;
      }
    }
  }
}
