.map-div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.toggle-basemap-container {
  padding: 2.7px;
  background-color: rgb(from var(--color-three) r g b / 1) !important;
  right: 15px;
  bottom: 30px;
}

.app-button {
  box-sizing: border-box;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  border: 1px solid var(--color-six);
  background-color: var(--color-one);
  color: var(--color-six);
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    width: 35px;
    height: 35px;
    background-image: url('./../images/icon-app.svg');
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center;
  }

  .label {
    padding: 0px 10px 0px 0px;
    display: none;
  }
}

.app-button:hover {
  background-color: var(--color-two);
}

.esri-component.esri-search.esri-widget {
  top: 15px;
  left: 60px;
}

/* About widget */
.map-component-about-widget {
  line-height: 20px;

  a {
    color: var(--color-one);
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-one);
  }

  h4 {
    margin-top: 6px;
    margin-bottom: 3px;
    color: var(--color-four);
  }

  h3:first-child {
    margin-top: 0px;
  }

  h4:first-child {
    margin-top: 0px;
  }

  p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

@media only screen and (max-width: 544px) {
  .app-button {
    top: auto;
    bottom: 0px;
    right: 0px;
    border: 6px solid var(--color-three);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 55px;
    font-size: 15px;
  
    .icon {
      width: 35px;
      height: 35px;
      background-image: url('./../images/icon-app.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: center;
    }
  
    .label {
      padding: 0px 10px 0px 0px;
      display: block;
    }
  }

  .app-button:hover {
    background-color: var(--color-one);
  }

  .esri-component.esri-search.esri-widget {
    top: 15px;
    left: auto;
    right: 15px;
  }

  .toggle-basemap-container {
    right: 15px;
    bottom: 15px;
  }

  .esri-attribution {
    display: none !important;
  }

  .toggle-basemap-container {
    bottom: 70px;
  }
}

