.map-div {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.toggle-basemap-container {
  padding: 2.7px;
  width: 56.2px;
  height: 56.2px;
  background-color: rgb(from var(--color-three) r g b / 1) !important;
}

.toggle-basemap-container .esri-basemap-toggle__container {
  width: 45px;
  height: 45px;
}

.esri-widget--button[title="Témata a oblasti parkování"] {

 
 
}


