@import 'https://js.arcgis.com/4.30/@arcgis/core/assets/esri/themes/light/main.css';

:root {
  /* Font */
  --font-family-one: Roboto;
  --font-size-one: 14px;
  /* Colors */
  --color-one: #CA1517;
  --color-two: #e7181c;
  --color-three: #FFFFFF;
  --color-four: #666666;
  --color-five: #D3D3D3;
  --color-six: #EAEAEB;
  --color-seven: #151515;
  --color-eight: #6C9B2E;
  --color-nine: #f3f3f3;
  --color-ten: #f3f9eb;
  /* Layout */
  --app-header-height: 45px;
  --panel-width: 220px;
  --panel-mobile-width-delta: 65px;
  --esri-widget-panel-max-height: 100% !important;
  --calcite-ui-focus-color: none !important;
}

.esri-expand__panel {
  height: 65vh!important;
}

.esri-popup__main-container  {
  max-height: var(--popup-max-height) !important /* Variable is controled via JS (in the Map.jsx) */
 
}

.button:focus {
  outline: 2px solid green;
  outline-offset: calc(-2px* calc(1 - 2* clamp(0, var(--calcite-offset-invert-focus), 1)));
}

@media only screen and (max-width: 544px) {
  :root:not(:has(.desktop-map)) {
    --calcite-shell-panel-width: calc(100vw - var(--panel-mobile-width-delta));
    --calcite-shell-panel-max-width: calc(100vw - var(--panel-mobile-width-delta));
    --calcite-shell-panel-min-width: calc(100vw - var(--panel-mobile-width-delta));
  }
}